body {
	font-family: sans-serif;

	h2 {
		color: white;
		padding-left: 20px;
	}

	h3 {
		color: white;
		padding-left: 20px;
	}

	p {
		color: white;
		padding-left: 20px;
		padding-right: 100px;
		}

	ol {
		color: white;

	a {
		color: white;
	}

	.background {
  background-image: url("../images/stars_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
	}

	.img-box {
  width: 30%;
  height: 30%;
	}

	.contain {
  object-fit: contain; }
}
