

body {
	font-family: sans-serif;
}

h2 {
		color: white;
		padding-left: 20px;
		text-align: left;
}

h3 {
		color: white;
		padding-left: 20px;
}

p {
		color: white;
		padding-left: 20px;
		padding-right: 100px;
}

ol {
		color: white;
}

a {
		color: white;
}

div.b {
	text-align: center;
}

.img-box {
  width: 10%;
  height: 10%;
	padding-left: 1px
	border-color: white;
	border-style: solid;
	border-width: thin;
	}

.contain {
  object-fit: contain; }
